table {
	
	border: thin solid var(--border);
	box-shadow: 0 0 10px var(--shadow);
	border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    width: 30%;
    margin: auto;
}
  
caption {
    padding: 10px;
    caption-side: bottom;
    color: var(--back);
    font-size: 20px;
}



table thead tr:last-child th:first-child {
    background-color: #7b8cb5c5;
    border-top: none;
}


 th[rowspan="3"] {
    background-color: #3361d6c5; 
    font-size: larger;
}  

th[colspan="4"] {
    background-color: #7b8cb5c5; 
    border-bottom: none;

}  

th,td {
	padding:8px 10px;
	border: 1px solid rgb(45, 66, 158);
    text-align: center;
    font-weight: bold;
    font-size: larger;

}

th {
	background-color: var(--back2);
	font-size: xx-large;
    
}


tbody tr:nth-child(odd) {
	background-color: #cbd2e3;
}

tbody tr:nth-child(even) {
    background-color: #a0b4e4;
}