@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #9cd7f2; 
    color: #fff; 
    margin: 0;
}

header, footer {
    background-color: #63c0eb; 
    color: #fff;
    padding: 10px;
    text-align: center;
}

.main-container {
    display: grid;
    
}

.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    width: 80%; 
    max-width: 400px; /
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
	justify-content: center;
	margin: 0 auto; 
    max-width: 1200px;
}

h2 {
    color: #007bff; 
    font-size: 1.5rem;
    margin-bottom: 10px;
}

a {
    color: #007bff; 
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0056b3;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

img:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

p {
    line-height: 1.5;
    color: #555;
}



/* Media queries for responsive design */
@media screen and (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 601px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}
@media screen and (min-width: 1025px) {
    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}