.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  padding: 20px;
}

.card {
  background-color: #4a9fef;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-content {
  padding: 12px;
  flex-grow: 1;
}

.card h2 {
  margin: 0;
  font-size: 1.2rem;
  text-align: center;
}

.card p {
  margin: 0;
  padding: 10px;
  font-size: 0.9rem;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h1{
  text-align: center;
  background-color: #4a9fef;
}