@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Ubuntu&display=swap');


body {
    font-family: "Open sans", sans-serif, "Ubuntu", sans-serif;
    background-color: #219EBC;
    color: #023047;
    margin: 0;
    padding: 0;
  
}


header {
    padding: 20px;
    align-items: center;
    text-align: center;
}



header img:first-child {
    border-radius: 30%;
    max-width: 100%;
}

#main-image{
    border-radius: 3px;
    margin: 50px auto;
    max-width: 100%;

}

ul {
    text-align: center;
    padding: 10px;
    list-style-type: decimal;
    font-size: 20px;
    
}

nav li {
    display: inline;
    margin-right: 5px;
    display: list-item;
    text-align: center;
    background-color: #023047;
    padding:10px;
    font-size: 24px;
}


main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; 
}

/* Toggle switch styles */
.toggle-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.checkbox {
    position: absolute;
    opacity: 0;
}

.toggle {
    cursor: pointer;
    display: block;
    width: 60px;
    height: 30px;
    background-color: #FFB703;
    border-radius: 15px;
    position: relative;
}

.toggle:before {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #023047;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.4s;
}

.checkbox:checked + .toggle {
    background-color: #FFB703;
}

.checkbox:checked + .toggle:before {
    transform: translateX(30px);
}

/* Dark mode styles */
.dark-mode {
    background-color: #023047;
    color: #8ECAE6;
}

.dark-mode header img:first-child {
    border-color: #8ECAE6;
}

.dark-mode nav a {
    color: #219EBC;
}

.dark-mode .toggle {
    background-color: #8ECAE6;
}

.dark-mode .toggle:before {
    background-color: #023047;
}


.header-content {
    position: relative;
}

.logo {
    display: block;
    max-width: 100%;
}

.join-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFB703;
    color: #023047;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.join-button:hover {
    background-color: #FFD166;
}

.placeholder {
    border: 1px dashed #ccc;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #FFD166;
    font-weight: bold;
    text-align: center;
    color: #023047;
    width: 300px; /* Set a fixed width for the placeholders */
    height: 150px; /* Set a fixed height for the placeholders */
    margin: 0 auto; /* Center the placeholders */
    box-sizing: border-box; /* Include padding and border in the width */
    overflow: hidden;
}

.placeholder h2 {
    margin-bottom: 20px;
}

.placeholder p {
    margin: 0;
    word-wrap: break-word; /* Allow words to wrap */
    font-size: medium;
}


#weather-section {
    float: right;
    width: calc(50% - 1px); 
    margin-bottom: 15px;
    margin-top: 15px;
}

#event-section {
    width: calc(50% - 20px);
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
}

.spotlight {
    width: calc(33.33% - 20px); /* Adjust as needed */
    float: left;
    margin: 10px;
    margin-bottom: 29px;
}

.spotlight-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    font-size: medium;
    color: #023047;
}

.spotlight h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.spotlight p {
    font-size: 16px;
    color: #333;
}

#text p {
    border: 3px solid #FFB703;
    padding: 20px; 
}
.card {
    background-color:#8ECAE6;
    border: 1px solid #023047;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
}

.ensenada {
    max-width: 100%;
    border-radius: 30%;
    display: block;
    margin: 0 auto; 
    box-sizing: border-box;
}

.img{
    aspect-ratio: 69/420;
}


footer {
    text-align: center;
    display: block;
}

p{
    text-align: center;
    margin: 5px;
    font-size: large;
}
h2{
    text-align: center;
    border-bottom-style:double;
    border-color: #1270c8;
    padding-bottom: 15px;
    font-size: 30px;
}

h3 {
    background-color: #FFB703;
    padding: 15px;
    margin: 0;
    text-align: center;
    font-size: 25px;
}


nav a {
    cursor: none;
    text-decoration: none;
    color:#FFB703;
}

footer {
    background-color: #023047;
    padding: 25px 50px;
    color:#8ECAE6;
    font-size: 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: OpenSans, sans-serif;
}
/* Mobile View ***************/
#menu-container{
    position:relative;
    align-self: start;
}

#menu {
    position: absolute;
    top:-240px;
    right:10px;   
    display:block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: 0.5rem .75rem;
	background-color: #219EBC;
	color: #023047;
}

#menu::before {
	content: "≡";
}

#menu.open::before {
    content: "X";
}

.open a{
    display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #023047;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: #8ECAE6;
	background-color: #219EBC;
}

.show li {
	display: block;
}

#map{
	text-align: center;
	height : 300px ;
	width :100%;
  
  }

/* Media Query for wider than mobile viewports.*/
@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; 
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
    div{
        display: block;
    }

    ul{
        margin: 0;
    }

    
}




