* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Open Sans", sans-serif;
}

/* mobile **************************/
header {
	background-color: #023047;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid #8ECAE6;
}

header,
main {
	
	margin: 0 auto;
	max-width: 50%;
}

h1 {
	font-size: 2rem;
}

nav {
	background-color: #FFB703;
	margin: 0 auto;
	max-width: 800px;
	
}
nav ul {
	list-style-type: none;
}
nav a {
	display: block;
	color: #1270c8;
	text-align: center;
	padding: 1rem;
	font-size: 23px;
	font-stretch: extra-expanded;
}

nav a:hover {
	text-decoration:overline;
}

.active {
	color: orange;
}



/* Larger Views ******************************/
@media (min-width: 780px) {
	nav ul {
		display: flex;
		justify-content:space-around;
	}
	nav ul li {
		flex: 1 1 100%;
	}

	#main-image {
		width: 100%; 
		margin: 0; 
		padding: 0; 
		border-radius: 0; 
	}

	
}
