@media only screen and (min-width: 40em) and (max-width: 60em) {
  
    header {
        padding: 15px;
    }

    #main-image {
        padding-left: 400px;
    }

@media only screen and (max-width: 40em) {
    


    }
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    .navigation li {
         margin-bottom: 4px; 
    }

    #main-content {
            padding-left: 400px;
        }

        
    }

    .weather-info {
        margin-bottom: 4px; 
    }

    #event-section {
        width: calc(50% - 20px);
        float: left;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #weather-section {
        float: right;
        width: calc(50% - 1px); 
        margin-bottom: 15px;
        margin-top: 15px;

    }

    .card {
        min-height: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .card p, .card a {
        margin: 5px 0;
        white-space: normal; 
        overflow:hidden;
        text-overflow: initial; 
    }



