:root {
    --primary-color: #89CFF0; 
    --form-width: 100%; 
}

:root {
    --primary-color: #89CFF0;
    --form-width: 80%;
}

/* Form styling */
.form-page form {
    margin: 0 auto;
    width: var(--form-width);
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-page label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #1270c8;
}

.form-page input[type="text"],
.form-page input[type="password"],
.form-page input[type="email"],
.form-page input[type="range"],
.form-page button[type="submit"] {
    width: calc(100% - 20px); 
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #1270c8;
}

.form-page input[type="range"] {
    width: 100%;
}

.form-page button[type="submit"] {
    position: relative; 
    background-color: var(--primary-color);
    color: #1270c8;
    cursor: pointer;
    font-weight: bold;
}

.form-page button[type="submit"]:hover {
    background-color: #ade1f8;
}